<a href="https://colab.research.google.com/github/A-Back-end/Python_Tasks/blob/main/OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
import math

In [ ]:
user_input = input('Enter your choice (rock, paper, scissors): ')

computer_choice = random.choice(['rock', 'paper', 'scissors'])
# computer_choice = random.randint(1, 3)

# if computer_choice == 1:
#   computer_choice = 'rock'
# elif computer_choice == 2:
#   computer_choice = 'paper'
# else:
#   computer_choice = 'scissors'

print(f'Computer chose {computer_choice}')

if user_input == computer_choice:
  print('Draw')
elif (user_input == 'rock' and computer_choice == 'paper') or (user_input == 'paper' and computer_choice == 'scissors') or (user_input == 'scissors' and computer_choice == 'rock'):
  print('Computer wins')
else:
  print('You win')

Enter your choice (rock, paper, scissors): lk
Computer chose scissors
You win

#Задание 1: Объектно-Ориентированное Программирование (ООП)

## Тема: Простая система управления библиотекой

### Что нужно сделать

1. Создать класс `Book` с атрибутами:

   * `title` — название книги
   * `author` — автор
   * `year` — год издания

   Добавить метод `__str__`, который возвращает красиво отформатированную строку с информацией о книге.

---

2. Создать класс `Library`, который:

   * хранит список книг;
   * имеет методы:

     * `add_book(book)` → добавляет новый объект книги;
     * `list_books()` → выводит список всех книг в библиотеке;
     * `find_book(title)` → ищет книгу по названию;
     * `random_book()` → выбирает случайную книгу и выводит её как «Книга дня»;
     * `save_to_file(filename)` → записывает все книги в текстовый файл для бэкапа.

---

3. **Дополнительное задание:**
   Создать класс `EBook`, который наследуется от `Book` и имеет дополнительный атрибут `file_size_mb`.
   Переопределить метод `__str__`, чтобы он также показывал размер файла.

---

In [ ]:
def random_function(x, y, z):
  pass

In [ ]:
class Book:
  def __init__(self, title, author, year):
    self.title = title
    self.author = author
    self.year = year

  def __str__(self):
    return f'{self.title} by {self.author} published in ({self.year})'

In [ ]:
book1 = Book('Harry Potter', 'J.K. Rowling', 1997)

In [ ]:
print(book1.title)
print(book1.author)
print(book1.year)

Harry Potter
J.K. Rowling
1997

In [ ]:
print(book1)

Harry Potter by J.K. Rowling published in (1997)

In [ ]:
class Library:
  def __init__(self, name):
    self.name = name
    self.books = []

  def __str__(self):
    return f'{self.name} has {len(self.books)} books'

  def add_book(self, book):
    self.books.append(book)

  def list_books(self):
    for book in self.books:
      print(f"{book.title} by {book.author} published in {book.year}")

  def find_book(self, book):
    for book_in in self.books:
      if book_in.title == book:
        print(book)
        return True
      # else:
      #   return False
    return False

  def random_book(self):
    day_book = random.choice(self.books)
    print(f"Today's book is {day_book.title} by {day_book.author}")

  def save_to_file(self, filename):
    with open(filename, 'w', encoding='utf-8') as f:
      for book in self.books:
        f.write(f"{book.title} by {book.author} published in {book.year}\n")

In [ ]:
book2 = Book('The Lord of the Rings', 'J.R.R. Tolkien', 1954)
book3 = Book('The Hobbit', 'J.R.R. Tolkien', 1937)
book4 = Book('The Silmarillion', 'J.R.R. Tolkien', 1977)

In [ ]:
lib = Library('Library named after Akylbek')
lib.add_book(book1)
lib.add_book(book2)
lib.add_book(book3)
lib.add_book(book4)

lib.list_books()

Harry Potter by J.K. Rowling published in 1997
The Lord of the Rings by J.R.R. Tolkien published in 1954
The Hobbit by J.R.R. Tolkien published in 1937
The Silmarillion by J.R.R. Tolkien published in 1977

In [ ]:
lib.find_book('The Silmarillion')

The Silmarillion

True

In [ ]:
lib.random_book()

Today's book is Harry Potter by J.K. Rowling

In [ ]:
lib.save_to_file('library_backup.txt')

In [ ]:
with open('library_backup.txt', 'r', encoding='utf-8') as f:
  for line in f:
    print(line.strip())

Harry Potter by J.K. Rowling published in 1997
The Lord of the Rings by J.R.R. Tolkien published in 1954
The Hobbit by J.R.R. Tolkien published in 1937
The Silmarillion by J.R.R. Tolkien published in 1977

# Задача 2: «Зоомагазин»

**Классы и методы:**

* **Animal**: `name`, `species`, `price`

  * `__str__` — описание животного.

* **PetStore**:

  * `add_animal(animal)` — добавить животное.
  * `list_animals()` — вывести список.
  * `most_expensive()` — найти самое дорогое животное.
  * `average_price()` — посчитать среднюю цену всех животных.
  * `save_to_file(filename)` — сохранить список в файл.

---

In [ ]:
class Animal:
  def __init__(self, name, species, price):
    self.name = name
    self.species = species
    self.price = price

  def __str__(self):
    return f"Animal name is {self.name}, and her/his species {self.species}, and price: {self.price}"

In [ ]:
class PetStore:
  def __init__(self, name):
    self.name = name
    self.animals = []

  def add_animal(self, animals):
    self.animals.append(animals)

  def list_animals(self):
    for list_animal in self.animals:
        print({'name': list_animal.name, 'species': list_animal.species, 'price': list_animal.price})

  def most_expensive(self):
    most_ex = self.animals[0]
    for animal in self.animals:
      if animal.price > most_ex.price:
        most_ex = animal
    return f"Most expensive animal is: {most_ex.price}"

  def average_price(self):
    count = 0
    for average in self.animals:
      count += average.price/len(self.animals)
    return count

  def save_to_file_animals(self, filename):
      with open(filename, 'w' , encoding='utf-8') as ex:
        for animal in self.animals:
          ex.write(f"{animal.name}, {animal.species}, {animal.price}\n")

In [ ]:
petstore = PetStore('My PetStore')
animal = Animal('Bob', 'Dog', 1000)
animal1 = Animal('Chiko', 'Cat', 500)
animal2 = Animal('Dany', 'Hourse', 2000)
animal3 = Animal('Any', 'Crocodile', 3000)

petstore.add_animal(animal)
petstore.add_animal(animal1)
petstore.add_animal(animal2)
petstore.add_animal(animal3)
petstore.list_animals()

{'name': 'Bob', 'species': 'Dog', 'price': 1000}
{'name': 'Chiko', 'species': 'Cat', 'price': 500}
{'name': 'Dany', 'species': 'Hourse', 'price': 2000}
{'name': 'Any', 'species': 'Crocodile', 'price': 3000}

In [ ]:
petstore.most_expensive()

'Most expensive animal is: 3000'

In [ ]:
petstore.average_price()

1625.0

In [ ]:
petstore.save_to_file_animals('animals.txt')

# Задача 3: «Коллекция фильмов»

**Классы и методы:**

* **Movie**: `title`, `director`, `rating`

  * `__str__` — красивый вывод фильма.

* **MovieCollection**:

  * `add_movie(movie)` — добавить фильм.
  * `list_movies()` — показать все.
  * `top_rated()` — найти фильм с наибольшим рейтингом.
  * `movies_by_director(name)` — вывести все фильмы конкретного режиссёра.
  * `export_csv(filename)` — сохранить фильмы в CSV.

---

In [ ]:
class Movie:
  def __init__(self, title, director, rating):
    self.title = title
    self.director = director
    self.rating = rating

  def __str__(self):
    return f"The {self.title} was directed by {self.director} and estimated with {self.rating} ratings"

In [ ]:
movie = Movie('Star Wars', 'George Lucas', 10)

print(movie)

The Star Wars was directed by George Lucas and estimated with 10 ratings

In [ ]:
import csv

class MovieCollection:
  def __init__(self, name):
    self.name = name
    self.movies = []

  def add_movie(self, movie):
    self.movies.append(movie)

  def list_movies(self):
    for movie in self.movies:
      print(f"The {movie.title}, was directed by {movie.director}, and rated {movie.rating}")

  def top_rated(self):
    max_value = self.movies[0]
    for rate in self.movies:
      if rate.rating > max_value.rating:
        max_value = rate
    return f"Most rated movie was {max_value.title}"

  def movies_by_director(self, director):
    for movie_title in self.movies:
      if movie_title.director == director:
          print(f"{movie_title.title}\n")

  def export_csv(self, filename):
    with open(filename, 'w', encoding='utf-8') as file1:
      write = csv.writer(file1)
      for movie in self.movies:
        write.writerow([movie.title, movie.director, movie.rating])

In [ ]:
movie_collection = MovieCollection('Movie Store')

movie1 = Movie('Batman', 'Matt Reaves', 11)
movie2 = Movie('Tron', 'Max Lowe', 9)
movie3 = Movie('Batman and Superman', 'Matt Reaves', 10)
movie_collection.add_movie(movie)
movie_collection.add_movie(movie1)
movie_collection.add_movie(movie2)
movie_collection.add_movie(movie3)

In [ ]:
print(movie_collection.list_movies())

The Star Wars, was directed by George Lucas, and rated 10
The Batman, was directed by Matt Reaves, and rated 11
The Tron, was directed by Max Lowe, and rated 9
The Batman and Superman, was directed by Matt Reaves, and rated 10
None

In [ ]:
movie_collection.top_rated()

'Most rated movie was Batman'

In [ ]:
movie_collection.movies_by_director('George Lucas')

Star Wars

In [ ]:
movie_collection.export_csv('movie_format.csv')

# Задача 4: «Музыкальный плейлист»

**Классы и методы:**

* **Song**: `title`, `artist`, `duration`

  * `__str__` — красиво выводит песню.

* **Playlist**:

  * `add_song(song)` — добавить песню.
  * `list_songs()` — вывести все песни.
  * `total_duration()` — общая продолжительность плейлиста.
  * `longest_song()` — самая длинная песня.
  * `shuffle()` — перемешать порядок песен (использовать `random.shuffle`).

---

In [ ]:
class Song:
  def __init__(self, title, artist, duration):
    self.title = title
    self.artist = artist
    self.duration = duration

  def __str__(self):
    return f"{self.title}, {self.artist}, {self.duration}"

In [ ]:
song = Song('On th way', 'Nirvana', 2)

print(song)

On th way, Nirvana, 2

In [ ]:
import random

class Playlist:
  def __init__(self, name) -> None:
    self.name = name
    self.songs = []

  def add_songs(self, song):
    self.songs.append(song)

  def list_songs(self):
    for list_songs in self.songs:
      print(f"{list_songs.title}, {list_songs.artist}, {list_songs.duration}")

  def total_duration(self):
    count = 0
    for total_duration in self.songs:
      count += total_duration.duration
    return count

  def longest_song(self):
    longest_song = self.songs[0]
    for long_one in self.songs:
      if long_one.duration > longest_song.duration:
        longest_song = long_one
    return f"The longest songs is {longest_song.duration}"

  def shuffle(self):
    random.shuffle(self.songs)
    for songs in self.songs:
      print(f"'{songs.title}' '{songs.artist}' '{songs.duration}'")

In [ ]:
playlist = Playlist('Album')

song1 = Song('Starman', 'David Bowie', 3)
song2 = Song('Eshkere', 'Lil Pump', 4)

playlist.add_songs(song)
playlist.add_songs(song1)
playlist.add_songs(song2)

playlist.list_songs()

playlist.total_duration()

On th way, Nirvana, 2
Starman, David Bowie, 3
Eshkere, Lil Pump, 4

9

In [ ]:
playlist.longest_song()

'The longest songs is 4'

In [ ]:
playlist.shuffle()

'On th way' 'Nirvana' '2'
'Starman' 'David Bowie' '3'
'Eshkere' 'Lil Pump' '4'